/* 
Reset
*/

a {
    text-decoration: none;
    color: inherit
}

ul, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Général */

* {
    font-family: 'Cabin', sans-serif;
}

.flux {
    margin-left: 75px;
    margin-right: 75px;
}

@media (max-width: 500px) {
    .flux {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
}


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 250px;
}

.list-links {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff7fb1;
    border-color: #ff7fb1;
}


/* Main */

.cover {
    display: flex;
    align-items: center;
    background-color:  #ff7fb1 ;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 5px
}



.cover-introduction {
    margin-bottom: 30px;
}

.cover-text {
    padding-right: 100px;
}

.image-listen {
    width: 55%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: bottom;
}

.community {
    display: flex;
    align-items: center;
    background-color:  white ;
    padding-top: 75px;
    padding-bottom: 75px;
}


.image-pinklink{
    width: 55%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: bottom;
}


.image-october{
    width: 55%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: bottom;
}